@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Offside&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Tangerine:wght@400;700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --font-barlow: "Barlow", sans-serif;
}
@theme{
    --font-barlow:var(--font-barlow);
}

body{
    /* background-color: #262626; */
    color: white;
    font-family: var(--font-barlow);

}

.landingBg{
     background:  url(../images/overlay.png),  linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),  url(../images/hero-bg.png);
      /* background: linear-gradient(hsl(0, 0%, 15%, 0.95),hsla(0, 0%, 15%, 0.95)), url(../images/hero-bg.png); */
     background-position: center;
     background-repeat: space;
     /* color: hsl(0, 0%, 50%); */
     /* color: hsl(0, 0%, 15%); */
    
}
.our-service-bg{
 background:  url(../images/overlay.png), url(../images/service-bg.png);
}

.green-btn{
    background-color: #9EFF00;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.3em;
    color: black;
    font-size: 15px;
}
.green-btn:hover{
    background-color: #9dff00d4;
    transition-duration: 0.5s;
    color: black;
}
.transp-btn{
    border: 10px;
    background-color: #262626;
    border-color: #262626;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.3em;
    color: white;
    font-size: 15px;
}
.transp-btn:hover{
    background-color: #262626c8;
    transition-duration: 0.5s;
    color: wheat;
}
.paddedBg{
    background-color: #262626;
    padding:10px;
    border-radius: 0.3em;


}

